<%= form_with(model: [@event, pick]) do |form| %>
  <% if pick.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
        <% pick.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :placement, style: "display: block" %>
    <%= form.number_field :placement %>
  </div>

  <div>
    <%= form.label :ninja, style: "display: block" %>
    <%= form.select :ninja, options: @event.ninjas.collect {|n| [ n.name, n.id ] } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
