<div id="<%= dom_id pick %>">
  <p>
    <strong>User:</strong>
    <%= pick.user.name %>
  </p>  

  <p>
    <strong>Event:</strong>
    <%= pick.event.name %>
  </p>

  <p>
    <strong>Placement:</strong>
    <%= pick.placement %>
  </p>

  <p>
    <strong>Pick:</strong>
    <%= pick.ninja.name %>
  </p>
</div>
